<div class="cont">
  <h2>
    о проекте
  </h2>
  <p>
    Этот проект был разработан студентами 4 курса ФРТК в рамках курса "Защита информации".
  </p>
  <h2>
    особенность
  </h2>
  <p>
    Приложение дает возможность шифровать и дешифровать текст с помощью ключа. Ключом является лицо человека. Если быть точнее - любая фотография лица человека относительно хорошего качества.
  </p>
  <h2>
    принцип работы
  </h2>
  <p>
    Принцип работы приложения по большей части заключается в нейросети способной распознавать одинаковых людей на фотографии. При регистрации пользователь присылает свою фотографию из которой генерируется ключ для алгоритма шифрования. При этом фотография и ключ сохраняются в базу. Когда пользователь будет зашифровывать или расшифровывать текст он будет отправлять другое свое фото. Это фото будет сравниваться с фотографиями в базе и при совпадении будет возвращать сгенерированный при регистрации ключ для алгоритма шифрования.расшифрования.
  </p>
</div>

