<div class="persons">
  <div class="person">
    <div class="img">
      <img src="../../assets/foto_N.JPG" alt="Nikita" width="123" height="123">
    </div>
    <div class="description">
      <div>
        <div class="name">
          Киреев Никита
        </div>
        <div class="group">
          группа: 611
        </div>
        <div class="contribution">
          вклад в проект: разработал интерфейс, подключил его к бекэнд модулю
        </div>
      </div>
    </div>
  </div>
  <div class="person">
    <div class="img">
      <img src="../../assets/foto_V.jpg" alt="Nikita" width="123" height="123">
    </div>
    <div class="description">
      <div>
        <div class="name">
          Адёшкин Василий
        </div>
        <div class="group">
          группа: 611
        </div>
        <div class="contribution">
          вклад в проект: внедрение алгоритма распознавания лица человека с помощью нейросети
        </div>
      </div>
    </div>
  </div>
  <div class="person">
    <div class="img">
      <img src="../../assets/foto_I.jpg" alt="Nikita" width="123" height="123">
    </div>
    <div class="description">
      <div>
        <div class="name">
          Нгуен Иен
        </div>
        <div class="group">
          группа: 619
        </div>
        <div class="contribution">
          вклад в проект: генерирование ключа из фотографии и реализация алгоритма AES
        </div>
      </div>
    </div>
  </div>
</div>
