/* You can add global styles to this file, and also import other style files */
body{
  padding: 0;
  margin: 0;
  font-family: 'Russo One', sans-serif;
  background: #969aa3;
}
h1 {
  margin: 0;
  padding: 0;
}
